html, * {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  vertical-align: middle;
  color: #fff;
  margin: 10px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  justify-items: center;
  background: rgb(227,105,173);
  background: radial-gradient(circle, rgba(227,105,173,1) 0%, rgba(253,45,46,1) 100%);
}

main {
  width: 100%;
  background: rgb(62,142,54);
  background: linear-gradient(90deg, rgba(62,142,54,1) 0%, rgba(69,186,125,1) 50%, rgba(43,116,75,1) 100%);
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -1px 1px 4px black inset;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.card-icon {
  height: 56px;
}

#player-card-container {
  flex-direction: row;
  align-items: center;
}

.value {
  color: #fff;
}

.dealer {
  margin-top: 15px;
  flex-direction: column;
}

.middle {
  background-color: #262222;
  width: 100vw;
  border-top: 1px dashed #fff;
  border-bottom: 1px dashed #fff;
  box-shadow: -1px 2px 4px #1a1a1a;
  position: relative;
  height: 75px;
}

.message {
  margin-bottom: 20px;
}

#interaction-card-container {
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  position: absolute;
  top: -25px;
  width: 100vw;
}

#start-card, #stand-card {

}

#hand-icon {
  margin: 0;
  position: relative;
  left: 65px;
  top: 20px;
}

#restart-icon {
  margin: 0;
  position: relative;
  left: 65px;
  top: 20px;
}

#stand-card:hover, #hand-icon:hover, #start-card:hover, #restart-icon:hover {
  cursor: pointer;
}

#player-card-deck, #start-card, #stand-card {
  margin: 5px 5px 50px 5px;
}

.player {
  margin-top: 15px;
  flex-direction: column;
}

.main-item {
  display: flex;
  align-items: center;
  width: 100vw;
}
